# Created by https://www.gitignore.io/api/ruby,rails,visualstudiocode
# Edit at https://www.gitignore.io/?templates=ruby,rails,visualstudiocode

### Rails ###
*.orig
.bundle/
.byebug_history
.DS_Store
.env
.terraform-version
.terraform.lock.hcl
.terraform/
app/assets/builds/
config/initializers/secret_token.rb
config/master.key
coverage
db/*.sqlite3
db/*.sqlite3-journal
generated/
lib/bundler/man/
log/*
pickle-email-*.html
public/assets/
public/packs/js/
public/packs/manifest.json
public/packs-test/
public/uploads/
node_modules/
vendor/bundle/
rerun.txt
storage/
tmp/
# tmp/Gemfile.lock
# tmp/restart.txt

!/app/assets/builds/.keep
!/log/.keep
!/public/assets/.keep
!/storage/.keep
!/tmp/.keep
!/tmp/pids
!/tmp/sockets

# Only include if you have production secrets in this file, which is no longer a Rails default
# config/secrets.yml

# End of https://www.gitignore.io/api/ruby,rails,visualstudiocode

RSpecメモ.md
sample_upload_image.html.erb
new_user_credentials_app_for_job_change.csv

/db/afixtures/
.myaws
/infra.drawio
/infra.png
# terraform
init.tf

# circleci
process.yml

public/packs-test
yarn-error.log
yarn-debug.log*
.yarn-integrity

/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
