# Created by https://www.gitignore.io/api/ruby,rails,visualstudiocode
# Edit at https://www.gitignore.io/?templates=ruby,rails,visualstudiocode

### Rails ###
# .rspec
/db/*.sqlite3
/db/*.sqlite3-journal
/coverage/

*.orig
rerun.txt
pickle-email-*.html
public/uploads
vendor/bundle/
# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
# /tmp/cache
# /tmp/letter_opener
!/tmp/.keep
# !/tmp/pids
# !/tmp/sockets
/tmp/Gemfile.lock
/tmp/restart.txt

# TODO Comment out this rule if you are OK with secrets being uploaded to the repo
config/initializers/secret_token.rb
config/master.key

# Only include if you have production secrets in this file, which is no longer a Rails default
# config/secrets.yml

.env

# Ignore folders
node_modules/
/public/packs
/public/packs-test
/public/assets
/public/uploads

# Ignore uploaded files in development
/storage/*
!/storage/.keep

/.bundle/
/lib/bundler/man/

.byebug_history
# End of https://www.gitignore.io/api/ruby,rails,visualstudiocode
# .rubocop.yml
# .rubocop_todo.yml
RSpecメモ.md

new_user_credentials_app_for_job_change.csv
.DS_Store
/db/afixtures/
.myaws
