<% if user_signed_in? %>
  <div class="text-center">
    <strong><%= current_user.email %></strong>
  </div>
  <%# link_to 'プロフィール変更', edit_manager_registration_path %>
  <div class="text-center">
    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
  </div>
<% end %>
