<div class="content_wrapper">
  <%= render 'shared/flash_messages' %>

  <h1>家にある食材</h1>
  <%= link_to 'New Stock', new_users_stock_path %>
  <% if @stocks.present? %>
    <div class="mx-2">
      <%= render 'stock_list' %>
    </div>
  <% else %>
    <p class="text-center">
      まだ登録がありません
    </p>
  <% end %>
</div>
