<div class="content_wrapper">
  <p>show, create, update.html.erbは不要?</p>
  <p>edit destroy</p>
  <h1>Stocks</h1>
  <%= link_to 'New Stock', new_users_stock_path %>
  <% if @stocks.present? %>
    <%= render 'stock_list' %>
  <% else %>
    <p class="text-center">
      まだ登録がありません
    </p>
  <% end %>
</div>
