<% if user_signed_in? %>
  <% if current_user.already_favorite?(cuisine) %>
    <%= link_to cuisine_remove_favorite_path(cuisine.id), class: 'btns-favorite btn btn-warning', method: :delete, remote: true do %>
      <i class="far fa-bookmark"></i><span class="d-none d-lg-inline">&nbsp;Favorite</span>
    <% end %>
  <% else %>
    <%= link_to cuisine_add_favorite_path(cuisine.id), class: 'btns-favorite btn btn-outline-secondary', method: :post, remote: true do %>
      <i class="far fa-bookmark"></i><span class="d-none d-lg-inline">&nbsp;Favorite</span>
    <% end %>
  <% end %>
<% else %>
  <%= link_to new_user_session_path, class: 'btns-favorite btn btn-outline-secondary', local: true do %>
    <i class="far fa-bookmark"></i><span class="d-none d-lg-inline">&nbsp;Favorite</span>
  <% end %>
<% end %>
