<ul class="nav nav-tabs nav-fill" role="tablist" id="fp-tab">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" role="tab" data-toggle="tab" href="#tab1" id="tab-foodstuff">食材</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" role="tab" data-toggle="tab" href="#tab2" id="tab-procedure">手順</a>
  </li>
</ul>
