
<% if user_signed_in? %>
  <% if current_user.already_menu_in_today?(cuisine.id) %>
    <%= link_to cuisine_remove_menu_path(cuisine.id), method: :delete, remote: true do %>
      <button class="btn btn-warning btn-block" type="button">
        <i class='fas fa-concierge-bell'></i>&nbsp;今日の献立
      </button>
    <% end %>
  <% else %>
    <%= link_to cuisine_add_menu_path(cuisine.id), method: :post, remote: true do %>
      <button class="btn btn-outline-secondary btn-block" type="button">
        <i class='fas fa-concierge-bell'></i>&nbsp;今日の献立
      </button>
    <% end %>
  <% end %>
<% else %>
  <%= link_to new_user_session_path, local: true do %>
    <button class="btn btn-outline-secondary btn-block" type="button">
      <i class='fas fa-concierge-bell'></i>&nbsp;今日の献立
    </button>
  <% end %>
<% end %>
