<%# rawmaterial_id-原材料id %>
<%= form.hidden_field :rawmaterial_id, id: :stock_rawmaterial_id %>
<%# quantity-数量 %>
<div class="form-group col-10 offset-1 row">
  <%= form.label :quantity, class: 'col-sm-2 offset-sm-3 col-form-label text-sm-right' %>
  <div class="input-group col-sm-5">
    <%= form.text_field :quantity, id: :foodstuff_quantity, class: 'form-control' %>
    <div class="input-group-prepend">
      <div class="input-group-text"></div>
    </div>
  </div>
</div>
<%# user_id-ユーザーid %>
<%= form.hidden_field :user_id, value: current_user.id %>

<%#
TODO: Model, View
  UIをmd以上はパソコン表示と同一にする
    md以上のカラム数は中央6カラム名
  検索を同じファイルに追加する
  検索フォームはselect2を設定する
  下記エラーメッセージを修正する
    x すでにstockされている食材は登録できません
    o すでに登録されている食材は登録できません
%>
