<% unless "#{controller.controller_path}/#{controller.action_name}" == "users/cuisines/show" %>
<div class="my-2 border border-warning">
  <h2>
    <%= controller.controller_path %>/<%= controller.action_name %>.html.erb
  </h2>
</div>
<% end %>
