<% unless "#{controller.controller_path}/#{controller.action_name}" == "users/cuisines/show" %>
<div>
  <p>
    <%= controller.controller_path %>/<%= controller.action_name %>.html.erb
  </p>
  <p id="browserWidth"></p>
</div>
<% end %>
