<div class="alert alert-danger" role="alert">
  <!-- TODO: エラーカウントが1個以上の場合はlist化しない-->
  <ul>
    <% resource.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
