<%#
  TODO: 不要などで該当する箇所を置き換える
        不要になったら削除
%>
<div class="alert alert-danger" role="alert">
  <ul>
    <% resource.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
