<footer class="page-footer font-small bg-secondary">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    <%= link_to "© 2020 #{@appname}", root_path %>
  </div>
  <!-- Copyright -->

</footer>
