h1
  | Home#index
p
  | Find me in app/views/home/index.html.erb
a.btn.btn-success[href="/"]
  | テスト
br
br
= link_to new_manager_session_path, class: 'page-link text-dark d-inline-block' do
  | 管理者ログイン

= Time.now
