<% if @rawmaterials.present? %>
  <div>
    <% @rawmaterials.each do |rm| %>
      <div id="rawmaterial_<%= rm.id %>" class="text-center rawmaterial" data-unit-name="<%= rm.unit.name %>"><%= rm.name %></div>
    <% end %>
  </div>
<% else %>
  <div class="btn btn-primary">
    登録がありません
  </div>
<% end %>
