@media (min-width: $sm) {
  #show-managers-cuisines{
    .cuisine-overview{
      display: flex;
    }

    #table-sortable-foodstuff{
      tr.foodstuff{
        cursor: row-resize;
      }
    }

    #table-sortable-procedure{
      tr.procedure{
        cursor: row-resize;
      }
    }
  }
}

// more than desktop
@media (min-width: $lg) {
  #show-managers-cuisines{
    .title{

    }
    // .cuisine-overview{
    //   display: flex;
    // }

    #table-sortable-foodstuff{
      tr.foodstuff{
        cursor: row-resize;
      }
    }

    #table-sortable-procedure{
      tr.procedure{
        cursor: row-resize;
      }
    }

  }
}
