@media (min-width: $xs) {
  #new-managers-cuisines{
    .change-buttons-cuisine{
      display: flex;
      justify-content: space-around;
      // margin-bottom: 10rem;
    }

    .upload-backgroundcolor{
    background-color: #f5f5f5;
    width: 100%;
    }

    .upload-image{
      width: 100%;
      padding-top: 100%;
      background-color: yellow;
    }
  }
  #show-managers-cuisines{
    .cuisine-overview{
      display: flex;
    }

    #table-sortable-foodstuff{
      tr.foodstuff{
        cursor: row-resize;
      }
    }

    #table-sortable-procedure{
      tr.procedure{
        cursor: row-resize;
      }
    }
  }
}


// more than $lg
@media (min-width: $lg) {
  #new-managers-cuisines{
    .change-buttons-cuisine{
      display: flex;
      justify-content: space-around;
      // margin-bottom: 10rem;
      margin-bottom: 20px;
    }

    .cuisine_form_box{
      display: flex;
    }

    .upload-backgroundcolor{
    background-color: #f5f5f5;
    width: 100%;
    }

    .upload-image{
      width: 100%;
      padding-top: 100%;
      background-color: yellow;
    }
  }

  #show-managers-cuisines{
    .title{

    }
    // .cuisine-overview{
    //   display: flex;
    // }

    #table-sortable-foodstuff{
      tr.foodstuff{
        cursor: row-resize;
      }
    }

    #table-sortable-procedure{
      tr.procedure{
        cursor: row-resize;
      }
    }

  }
}
