#index-cookinghistorys {

  #cuisine_img {
    object-fit: cover;
    width: 80px;
    height: 80px;
  }

  .td-btn,
  .td-description {
    padding: 0.2rem;
  }

  .td-image {
    padding: 0.5rem 0;
  }
}
