@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";

#new-manageownprocedures,
#create-manageownprocedures {
  .table-bordered {
    border-style: none;
  }

  td {
    border-left-style: none;
    border-right-style: none;
  }
}


@include media-breakpoint-between(md, lg) {}

@include media-breakpoint-up(lg) {}
