
<div class="my-2 border border-secondary">
  <div id="logout">
    <p><%= current_manager.email %></p>
    <p><%= link_to 'プロフィール変更(管理者)', edit_manager_registration_path %></p>
    <p><%= link_to 'ログアウト(管理者)', destroy_manager_session_path, method: :delete %></p>
  </div>
</div>
