<% if foodcategory.errors.any? %>
  <div id="error_explanation">
<!--      <h2><%= pluralize(foodcategory.errors.count, "error") %> prohibited this aaa from being saved:</h2>
-->
    <ul>
    <% foodcategory.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, id: :foodcategory_name, autofocus: true, class: 'form-control' %>
  </div>
