@import "bootstrap/dist/css/bootstrap";
@import 'select2/dist/css/select2.min';
@import '@ttskch/select2-bootstrap4-theme/dist/select2-bootstrap4.min';
@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";
@import "jquery-ui/themes/base/sortable";
@import "app_variables";
// @import "managers/cuisines";
// @import "managers/foodstuffs";
@import "cookinghistorys";
@import "cuisines";
// @import "keywords";
// @import "favorites";
// @import "genres";
@import "managecuisines";
@import "manageownprocedures";
@import "stocks";
// @import "tags";
@import "tops";
@import "todaysmenus";
// @import "users";
// @import "userrawmaterials";
@import "users/registrations";
@import "users/sessions";

$sm: 576px;
$md: 768px;
$lg: 992px;

footer {
  margin-bottom: 2rem;
  margin-top: auto;
}

main {
  max-width: 980px;
  min-height: 100vh;

  margin: 0 1rem;
  .alert {
    ul {
      list-style: none;
      margin-bottom: 0;
      padding-left: 0;
    }
  }

  @include media-breakpoint-down(md) {}

  @include media-breakpoint-between(md, lg) {}

  @include media-breakpoint-up(lg) {}
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

#index-managers-foodcategories,
#index-managers-cuisines,
#index-managers-rawmaterials {
  thead>tr>td>a {
    color: $soberColor;
  }
}

.alert ol {
  margin: 0;
}

.card {
  .card-body{
    padding: 0 0.5rem 0.5rem 0.5rem;
  }

  .card-title {
    height: 2rem + 0.75rem;
  }

  .img-filter {
    position: relative;
    width: 100%;
    padding-top: 67%;
    overflow: hidden;

    .card-img-top {
      position: absolute;
      top: 0%;
      left: 0%;
      max-width: 150%;
      max-height: 150%;
      ;
    }
  }
}

.container-lg {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0;

  @include media-breakpoint-up(lg) {
    width: $lg;
  }
}

.field_with_errors {
  display: contents;
}

.my-button {
  height: 100px;
  width: 100px;
}

.navbar-toggler {
  border: none;
}

.no-content{
  width: 100%;
  height: 100%;
}

.page-title {
  font-size: 1.5rem;
}

.user-icon {
  color: #EFEFEF;
  padding: 0 auto;
}

@include media-breakpoint-between(md, lg) {}

@include media-breakpoint-up(lg) {}

// navbar
$bgDefault : #00AA00;
$bgHighlight : #00BB00;
$colDefault : #ecf0f1;
$colHighlight : #ecf0f1;
$dropDown : true;

.navbar {
  background-color: $bgDefault;

  .navbar-brand {
    color: $colDefault;

    &:hover,
    &:focus {
      color: $colHighlight;
    }
  }

  .navbar-text {
    color: $colDefault;

    a {
      color: $colHighlight;

      &:hover,
      &:focus {
        color: $colHighlight;
      }
    }
  }

  .navbar-nav {
    .nav-link {
      color: $colDefault;
      border-radius: .25rem;
      margin: 0 0.25em;

      &:not(.disabled) {

        &:hover,
        &:focus {
          color: $colHighlight;
        }
      }
    }

    @if ($dropDown) {
      .dropdown-menu {
        background-color: $bgDefault;
        border-color: $bgHighlight;

        .dropdown-item {
          color: $colDefault;

          &:hover,
          &:focus,
          &.active {
            color: $colHighlight;
            background-color: $bgHighlight;
          }
        }

        .dropdown-divider {
          border-top-color: $bgHighlight;
        }
      }
    }

    .nav-item.active,
    .nav-item.show {

      .nav-link,
      .nav-link:hover,
      .nav-link:focus {
        color: $colHighlight;
        background-color: $bgHighlight;
      }
    }
  }

  .navbar-toggle {
    border-color: $bgHighlight;

    &:hover,
    &:focus {
      background-color: $bgHighlight;
    }

    .navbar-toggler-icon {
      color: $colDefault;
    }
  }

  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault;
  }

  .navbar-link {
    color: $colDefault;

    &:hover {
      color: $colHighlight;
    }
  }
}

@media (max-width: 575px) {
  .navbar-expend-sm .navbar-nav .show .dropdown-menu {
    .dropdown-item {
      color: $colDefault;

      &:hover,
      &:focus {
        color: $colHighlight;
      }
    }

    .dropdown-item.active {
      color: $colHighlight;
      background-color: $bgHighlight;
    }
  }
}

@media (max-width: 767px) {
  .navbar-expend-md .navbar-nav .show .dropdown-menu {
    .dropdown-item {
      color: $colDefault;

      &:hover,
      &:focus {
        color: $colHighlight;
      }
    }

    .dropdown-item.active {
      color: $colHighlight;
      background-color: $bgHighlight;
    }
  }
}

@media (max-width: 991px) {
  .navbar-expend-lg .navbar-nav .show .dropdown-menu {
    .dropdown-item {
      color: $colDefault;

      &:hover,
      &:focus {
        color: $colHighlight;
      }
    }

    .dropdown-item.active {
      color: $colHighlight;
      background-color: $bgHighlight;
    }
  }
}

@media (max-width: 1199px) {
  .navbar-expend-xl .navbar-nav .show .dropdown-menu {
    .dropdown-item {
      color: $colDefault;

      &:hover,
      &:focus {
        color: $colHighlight;
      }
    }

    .dropdown-item.active {
      color: $colHighlight;
      background-color: $bgHighlight;
    }
  }
}

.navbar-expend .navbar-nav .show .dropdown-menu {
  .dropdown-item {
    color: $colDefault;

    &:hover,
    &:focus {
      color: $colHighlight;
    }
  }

  .dropdown-item.active {
    color: $colHighlight;
    background-color: $bgHighlight;
  }
}
