html{
  height: 100%;
}

body{
  height: 100%;
}
#index-favorites{
  .page-title{
    font-size: 2rem;
  }
  .no-border-top{
    border-top: 0px none;
  }
  .no-favorites-description{
    font-size: 1.3rem;
  }
}
