@import "bootstrap/dist/css/bootstrap";
@import 'admin-lte/dist/css/adminlte';
@import 'select2/dist/css/select2';
@import '@ttskch/select2-bootstrap4-theme/dist/select2-bootstrap4';

#new-managers-cuisines {
  #no_cuisine_image {
    max-width: 80%;
  }

  .image_preview {
    min-width: 100px;
    max-width: 70%;
    min-height: 100px;
    margin: 20px auto;
    height: auto;
    background-color: #EEEEEE;
    background-position: center center;
    background-size: cover;
  }
}
