#index-stocks {
  .will-consume {
    background-color: rgba(1, 170, 0, 0.2);
  }

  .last-day{
    background-color: rgba(255, 204, 102, 0.2);
  }
  .oops {
    background-color: rgba(204, 51, 0, 0.2);
  }
}
