@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";
@import 'swiper/css/swiper';

.swiper-button-next:after,
.swiper-button-prev:after {
  font-weight: bold;
  font-size: 1.5rem;
  color: grey;
  margin-top: 2rem;
}

// .swiper-button-next:after {
//   margin-right: -2rem;
// }

// .swiper-button-prev:after {
//   margin-left: -2rem;
// }

// @include media-breakpoint-between(md, lg) {
//   .swiper-button-next:after,
//   .swiper-button-prev:after {
//     margin-top: 5rem;
//   }

//   .swiper-button-next:after {
//     margin-right: -2rem;
//   }

//   .swiper-button-prev:after {
//     margin-left: -2rem;
//   }
// }

// @include media-breakpoint-up(lg) {

//   .swiper-button-next:after,
//   .swiper-button-prev:after {
//     margin-top: 7rem;
//   }

//   .swiper-button-next:after {
//     margin-right: -2rem;
//   }

//   .swiper-button-prev:after {
//     margin-left: -2rem;
//   }
// }
