@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";
@import 'swiper/css/swiper';

#about-tops {


  #promotion {
    background-image: image-url("about_top_image.jpg");
    background-size: cover;
  }

  h1 {
    font-size: 6rem;
  }

  .app-description {
    font-size: 1.3rem;
  }

  .features-clean {
    color: #313437;
    background-color: #fff;
    padding-bottom: 30px;
  }

  .jumbotron {
    border-radius: 0rem;
  }

  .text-right.more-cuisine {
    height: 100%;
  }

  @media (max-width:767px) {
    .features-clean {
      padding-bottom: 10px;
    }
  }

  .features-clean p {
    color: #7d8285;
  }

  .features-clean h2 {
    font-weight: bold;
    margin-bottom: 40px;
    padding-top: 40px;
    color: inherit;
  }

  @media (max-width:767px) {
    .features-clean h2 {
      margin-bottom: 25px;
      padding-top: 25px;
      font-size: 24px;
    }
  }

  .features-clean .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto 60px;
  }

  @media (max-width:767px) {
    .features-clean .intro {
      margin-bottom: 40px;
    }
  }

  .features-clean .item {
    min-height: 100px;
    padding-left: 80px;
    margin-bottom: 40px;
  }

  @media (max-width:767px) {
    .features-clean .item {
      min-height: 0;
    }
  }

  .features-clean .item .name {
    font-size: 20px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 20px;
    color: inherit;
  }

  .features-clean .item .description {
    font-size: 15px;
    margin-bottom: 0;
  }

  .features-clean .item .icon {
    font-size: 40px;
    color: #1485ee;
    float: left;
    margin-left: -65px;
  }
}

#index-tops {
  a{
    text-decoration: none;
  }
  .btns-today {
    margin-left: 0.5rem;
  }

  .card-body {
    padding: 0.5rem;
  }

  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-weight: bold;
    font-size: 1.5rem;
    color: grey;
    margin-top: 2rem;
  }

  .swiper-button-next:after {
    margin-right: -2rem;
  }

  .swiper-button-prev:after {
    margin-left: -2rem;
  }

  @include media-breakpoint-between(md, lg) {
    main {
      margin: 0 1rem;
    }

    .swiper-button-next:after,
    .swiper-button-prev:after {
      margin-top: 5rem;
    }

    .swiper-button-next:after {
      margin-right: -2rem;
    }

    .swiper-button-prev:after {
      margin-left: -2rem;
    }
  }

  @include media-breakpoint-up(lg) {

    .swiper-button-next:after,
    .swiper-button-prev:after {
      margin-top: 7rem;
    }

    .swiper-button-next:after {
      margin-right: -2rem;
    }

    .swiper-button-prev:after {
      margin-left: -2rem;
    }
  }
}
