#show-users{
  .no-gutters{
    li{
      border-collapse: collapse;
      border-left-style: none;
      border-right-style: none;
    }

  }
  .user-profile-image{
    width: 100px;
    height: 100px;
  }

  #user-profile-no-image{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    &:hover {
      cursor: pointer;
    }
  }
}
