// less than tablet
@media (min-width: 0px) {
  h1{
    font-size: 17px;
    line-height: 2.0;
    margin-top: 10px;
  }

  h3{
    font-size: 17px;
    line-height: 1.5;
  }

  article{
    display: flex;
    flex-flow: row wrap;
    width: 980px;

    .main-image{
      width: 400px;
      padding: 0 0 20px 0;
    }

    .foodstuff-list{
      font-size: 17px;
      line-height: 2.0;
      border-top:1px solid #cccccc;
    }

    .time-and-difficulty{
      width: 100%;
      display: flex;
      justify-content: space-around;
      padding: 0 0 10px 0;
    }

    .foodstuff-list:last-child{
      border-bottom: 1px solid #cccccc;
    }

    .procedure-list{
      font-size: 17px;
      line-height: 2.0;
      border-top:1px solid #cccccc;
    }

    .procedure-list:last-child{
      border-bottom: 1px solid #cccccc;
    }

    .description-and-etc{
      margin-top: 30px;
    }

    .share-button{
      display: flex;
      justify-content: space-around;
      padding: 10px 0 0 0;

      .share-button-item{
        .twitter-icon{
          color: #d0d4d8;
        }
        .star-icon{
          color: #d0d4d8;
        }
        .copy-url-icon{
          color: #d0d4d8;
        }
      }
    }
  }
}

// more than desktop
@media (min-width: 992px) {
  .content_wrapper{
    // display: flex;
    h1{
      display: inline;
      font-size: 30px;
      line-height: 2.0;
      margin-right: 50px;
    }
    .difficulty, .cooking_time{
      font-size: 20px;
    }

    .difficulty{
      margin-left: 30px;
    }

    .cooking_time{
      margin-left: 10px;
    }


    article{
      display: flex;
      flex-flow: row wrap;
      width: 980px;

      .main-image{
        width: 400px;
      }

      .foodstuff-list{
        font-size: 17px;
        line-height: 2.0;
        border-top:1px solid #cccccc;
      }

      .foodstuff-list:last-child{
        border-bottom: 1px solid #cccccc;
      }

      .procedure-list{
        font-size: 17px;
        line-height: 2.0;
        border-top:1px solid #cccccc;
      }

      .procedure-list:last-child{
        border-bottom: 1px solid #cccccc;
      }

      .description-and-etc{
        margin-top: 30px;
      }

      .share-button{
        display: flex;
        justify-content: space-around;
        width: 400px;
        padding: 20px 0;

        .share-button-item{
          .twitter-icon{
            color: #d0d4d8;
          }
          .star-icon{
            color: #d0d4d8;
          }
          .copy-url-icon{
            color: #d0d4d8;
          }
        }
      }
    }

  }
}
