// mobile
@media (min-width: $xs) {
  .content_wrapper{
    .table{
      border:solid 1px red;
    }
  }
}

// less than tablet
@media (min-width: $sm) {
  .content_wrapper{
    // padding: 0 1rem;
    // padding: 30px;
  }
}

// more than desktop
@media (min-width: $lg) {
  .content_wrapper{
    width: 980px;
    margin: 0 auto;
    // padding: 30px;
  }
  .twitter-icon{
    color: #00B8FF;
  }
  .star-icon{
    color: #d0d4d8;
  }
  .copy-url-icon{
    color: #d0d4d8;
  }
}
