<% if manager_signed_in? %>
<%# 料理食材一覧((foodcategories) %>
<div class="text-center">
  <div id="go-to-foodcategory" class="my-2">
    <%= link_to '料理食材一覧画面(foodcategories#index)へ', managers_foodcategories_path, class: "btn btn-secondary", role: "button" %>
  </div>
</div>
<%#部位名一覧(Ingredients) %>
<div class="text-center">
  <div id="go-to-ingredients" class="my-2">
    <%= link_to '部位名一覧画面(Ingredients#index)へ', managers_ingredients_path, class: "btn btn-secondary", role: "button" %>
  </div>
</div>
<% end %>
