<% if manager_signed_in? %>

<div class="text-center my-2">
  管理者(email):<br>
  <strong><%= current_manager.email %></strong>
</div>

<% unless current_manager.id == 1 %>
<div class="text-center my-2">
  <p><%= link_to 'プロフィール変更(管理者)', edit_manager_registration_path, class: 'btn btn-secondary' %></p>
</div>
<% end %>

<div class="text-center my-2">
  <%# gem devise の　link_toをクリックすると
        - ログアウトできない
        - No route matches [DELETE] "/managers/sign_out"
          - http://localhost:3000/rails/info/routes にアクセスすると
            - destroy_manager_session_path　は存在する
        - 以前変更した %>
  <%= link_to 'ログアウト(管理者)', destroy_manager_session_path, method: :delete, class: 'btn btn-secondary' %>
</div>
<% end %>
