<% if manager_signed_in? %>
  <div class="text-center my-2">
    <strong><%= current_manager.email %></strong>
  </div>
  <%# link_to 'プロフィール変更', edit_manager_registration_path %>
  <div class="text-center my-2">
    <%= link_to 'ログアウト', destroy_manager_session_path, method: :delete %>
  </div>
<% end %>
