<div class="my-2">
    <% if resource.errors.full_messages.size == 1 %>
      <% resource.errors.full_messages.each do |message| %>
        <div class="text-danger my-2">
          <%= message %>
        </div>
      <% end %>
    <% else %>
      <% resource.errors.full_messages.each do |message| %>
        <div class="text-danger">
          <%= message %>
        </div>
      <% end %>
    <% end %>
</div>
