<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <style>
    /* Email styles need to be inline */
  </style>
</head>
<body>
<%= yield %>
</body>
</html>
